name: Check registry.yaml
on:
  pull_request:
    branches: [main]
    paths:
      - "registry.yaml"
  push:
    branches: [main]
    paths:
      - "registry.yaml"
  workflow_dispatch:

# Checks if any concurrent jobs under the same pull request or branch are being executed
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  check-registry:
    name: check-registry
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout ⤵️
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: "1.24"
          check-latest: true

      - name: Build registry artifact tool
        working-directory: build/registry
        run: make

      # Formal validation only.
      # When a new plugin is added and not yet released,
      # its OCI repo has not been created yet, so we can't validate it.
      - name: Verify the correctness of registry.yaml
        working-directory: build/registry
        run: ./bin/registry check ../../registry.yaml
