name: Check registry.yaml
on:
  pull_request:
    branches: [main]
    paths:
      - "registry.yaml"
  push:
    branches: [main]
    paths:
      - "registry.yaml"
  workflow_dispatch:

permissions:
  packages: read

# Checks if any concurrent jobs under the same pull request or branch are being executed
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  check-registry:
    name: check-registry
    runs-on: ubuntu-22.04
    env:
      # Authenticate to GitHub Container Registry to pull falcoctl image
      # This is a mitigation for the ghcr.io rate limiting issue
      # See https://github.com/falcosecurity/rules/issues/331
      FALCOCTL_REGISTRY_AUTH_BASIC: ghcr.io,${{ github.actor }},${{ github.token }}
    steps:
      - name: Checkout ⤵️
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: "1.24"
          check-latest: true

      - name: Build registry artifact tool
        working-directory: build/registry
        run: make

      # Formal validation only.
      # When a new plugin is added and not yet released,
      # its OCI repo has not been created yet, so we can't validate it.
      - name: Verify the correctness of registry.yaml
        working-directory: build/registry
        run: ./bin/registry check ../../registry.yaml
