name: Release Plugins

on:
  push:
    tags:
      # All tags
      - '**'

# Checks if any concurrent jobs is running for release CI and eventually cancel it.
concurrency:
  group: ci-release
  cancel-in-progress: true  

jobs:
  extract-info:
    runs-on: ubuntu-latest
    outputs:
      package: ${{ steps.regex-match.outputs.group1 }}
      isSemver: ${{ steps.regex-match.outputs.match }}
      
    steps:
      - name: Extract semver ℹ️
        uses: actions-ecosystem/action-regex-match@v2
        id: regex-match
        with:
          text: ${{ github.ref_name }}
          regex: '^([a-z]+[a-z0-9_\-]*)-(0|[1-9][0-9]*)\.(0|[1-9][0-9]*)\.(0|[1-9][0-9]*)(-((0|[1-9][0-9]*|[0-9]*[a-zA-Z-][0-9a-zA-Z-]*)(\.(0|[1-9][0-9]*|[0-9]*[a-zA-Z-][0-9a-zA-Z-]*))*))?$'
          
      - name: Fail on non semver tag
        if: needs.extract-info.outputs.isSemver == ''
        run: exit 1

  build-plugins:
    needs: extract-info
    uses: falcosecurity/plugins/.github/workflows/reusable_build_packages.yaml@master
    with:
      makecommand: make release/${{ needs.extract-info.outputs.package }}
      suffix: stable
    secrets: inherit
    
  publish-plugins:
    needs: build-plugins
    uses: falcosecurity/plugins/.github/workflows/reusable_publish_packages.yaml@master
    with:
      suffix: stable
    secrets: inherit  
