name: Release Plugins

on:
  push:
    tags:
      # All tags
      - '**'

# Checks if any concurrent jobs is running for release CI and eventually cancel it.
concurrency:
  group: ci-release-${{ github.ref }}
  cancel-in-progress: true

jobs:
  extract-info:
    runs-on: ubuntu-latest
    outputs:
      package: ${{ steps.regex-match.outputs.group1 }}
      
    steps:
      - name: Extract semver ℹ️
        uses: actions-ecosystem/action-regex-match@v2
        id: regex-match
        with:
          text: ${{ github.ref_name }}
          regex: '^([a-z]+[a-z0-9_\-]*)-(0|[1-9][0-9]*)\.(0|[1-9][0-9]*)\.(0|[1-9][0-9]*)(-((0|[1-9][0-9]*|[0-9]*[a-zA-Z-][0-9a-zA-Z-]*)(\.(0|[1-9][0-9]*|[0-9]*[a-zA-Z-][0-9a-zA-Z-]*))*))?$'
          
      - name: Fail on non semver tag
        if: steps.regex-match.outputs.match == ''
        run: exit 1

  build-plugins:
    needs: extract-info
    uses: falcosecurity/plugins/.github/workflows/reusable_build_packages.yaml@master
    with:
      makecommand: make release/${{ needs.extract-info.outputs.package }}
      suffix: stable
    secrets: inherit

  build-rules-tool:
    needs: [extract-info]
    uses: ./.github/workflows/reusable_build_rules_tool.yaml
    with:
      output: rules-checker
      repository: falcosecurity/rules

  validate-plugins:
    needs: [extract-info, build-plugins, build-rules-tool]
    uses: ./.github/workflows/reusable_validate_plugins.yaml
    with:
      plugin: ${{ needs.extract-info.outputs.package }}
      falcoctl-version: 0.5.1
      falco-image: falcosecurity/falco-no-driver:0.35.1
      plugins-artifact: plugins-x86_64-stable.tar.gz
      rules-checker: ./rules-checker
      arch: x86_64

  publish-plugins:
    needs: [build-plugins, validate-plugins]
    uses: falcosecurity/plugins/.github/workflows/reusable_publish_packages.yaml@master
    with:
      suffix: stable
    secrets: inherit  
