# This is a reusable workflow used by main and release CI
on:
  workflow_call:
    inputs:
      output:
        description: Name of the output binary
        required: false
        default: rules-check
        type: string
      repository:
        description: Falco rules repository
        required: false
        default: falcosecurity/rules
        type: string

jobs:
  build-rules-checker:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Golang
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: "1.19.0"

      - name: Checkout rules
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: ${{ inputs.repository }}

      - name: Build checker tool
        working-directory: build/checker
        run: go build -o ${{ inputs.output }}

      - name: Test checker tool
        working-directory: build/checker
        run: go test ./... -cover

      - name: Upload artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: rules-tool.tar.gz
          path: build/checker/${{ inputs.output }}
          retention-days: 1
