# This is a reusable workflow used by main and release CI
on:
  workflow_call:
    inputs:
      output:
        description: Name of the output binary
        required: false
        default: rules-check
        type: string
      repository:
        description: Falco rules repository
        required: false
        default: falcosecurity/rules
        type: string

jobs:
  build-rules-checker:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Golang
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: "1.19.0"

      - name: Checkout rules
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: ${{ inputs.repository }}

      - name: Build checker tool
        working-directory: build/checker
        run: go build -o ${{ inputs.output }}

      - name: Test checker tool
        working-directory: build/checker
        run: go test ./... -cover

      - name: Upload artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: rules-tool.tar.gz
          path: build/checker/${{ inputs.output }}
          retention-days: 1
